.container {
  padding-top: 4rem;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.colors {
  padding-top: 3rem;
  flex-wrap: wrap;
}

.colors i {
  margin: 1rem;
  font-size: 7rem;
}
